@use "../scss/base/variables";

.rutika {
  width: 100%;
  img {
    position: absolute;
    width: 100%;
    bottom: 100px;
  }
}
.num-wrap {
  width: 97%;
  height: auto;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  text-align: center;
  border: 2.5px solid rgba(128, 128, 128, 0.8);
  box-shadow: 0 0 4px 2px #fff;
  border-radius: 4px;
}
.num {
  width: calc(100% / 10);
  font-size: 1.5rem;
  padding: 1px 0;
  color: rgba(255, 255, 255, 0.8);
  border-right: 3px solid rgba(128, 128, 128, 0.8);
  background: rgba(192, 192, 192, 0.8);
}
.num-add {
  color: rgb(255, 170, 0);
  background: rgba(255, 255, 69, 0.9);
  border-right: 3px solid rgba(255, 170, 0, 0.8);
}
.num:last-child {
  border-right: none;
}

.q-wrap {
  position: absolute;
  left: 50%;
  bottom: 42%;
  transform: translateX(-50%) translateY(-42%);
  width: 98%;
  margin: 0 auto;
  text-align: center;
  -webkit-text-stroke: 2.2px #fff;
  h1 {
    font-size: 4rem;
    color: #333333;
    letter-spacing: 0.15rem;
  }
  span {
    font-size: 6rem;
    color: #ff5353;
    margin-left: 5px;
  }
  @media screen and (min-width: 900px) {
    //PC
    h1 {
      font-size: 5.5rem;
    }
    span {
      font-size: 7.5rem;
    }
  }
}

.mozi-wrap {
  width: 100%;
  height: 100%;
}

.mozi-canvas-wrap {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%) translateY(-1%);
  width: 93%;
  height: 29%;
  background-color: rgba(255, 244, 233, 0.9);
  border: 11px rgb(205, 140, 76, 1) ridge;
  canvas {
    cursor: crosshair;
  }
}
.erase-btn {
  padding: 0;
  width: 48px;
  height: 48px;
  position: absolute;
  left: 1.2%;
  bottom: 1.2%;
  border: none;
  appearance: none;
  cursor: pointer;
  background-image: linear-gradient(135deg, #abdcff 10%, #0396ff 100%);
  border-radius: 5px;
  @include variables.center-center;
  box-shadow: 0 0 10px #fff;
  border: 2px solid rgba(255, 255, 255, 0.95);
  &:active {
    @include variables.push;
  }
  img {
    width: 95%;
  }
}

.result-wrap {
  position: absolute;
  width: 90%;
  left: 50%;
  bottom: 28%;
  transform: translateX(-50%) translateY(-28%);
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

$button-size: 24vw;
$button-size-pc: 7vw;
.result {
  width: $button-size;
  height: $button-size;
  background-image: radial-gradient(#ff5353 60%, transparent 100%);
  box-shadow: 0 0 20px #fff;
  border-radius: 50%;
  position: relative;
  @include variables.center-center;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  &:active {
    @include variables.push;
  }
  p {
    // font-size: $button-size - 10vw;
    color: #fff;
    font-family: "M PLUS Rounded 1c", sans-serif;
  }
  @media screen and (min-width: 900px) {
    //PC
    width: $button-size-pc;
    height: $button-size-pc;
    p {
      // font-size: 5vw;
      line-height: calc($button-size-pc - 0.5vw);
    }
  }
}

.add {
  animation: scale-up 0.5s 0s 1 forwards;
  pointer-events: auto;
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border: 1.9px solid rgba(255, 255, 255, 0.95);
    border-radius: 50%;
    box-sizing: border-box;
    pointer-events: none;
    animation: pulsate 2s linear infinite;
  }
  &::after {
    animation-delay: 1s;
  }
}
@keyframes scale-up {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0.95;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

.display-none {
  display: none;
}
