@font-face {
  font-family: "Line-bold";
  src: url("/WOFF2/LINESeedJP_OTF_Bd.woff2") format("woff2");
}
@font-face {
  font-family: "Line-Exbold";
  src: url("/WOFF2/LINESeedJP_OTF_Eb.woff2") format("woff2");
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Line-Exbold", sans-serif;
  overflow: hidden;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-user-drag: none;
}

.App {
  background: #fff;
  box-shadow: 0 0 30px 3px rgba(110, 90, 70, 0.7);
  width: 100vw;
  max-width: 500px;
  margin: auto;
  height: 100vh;
  height: 100svh;
  position: relative;
  background-image: url(/images/sougen.jpg);
}

.keikoku{
  position: fixed;
  color: #333333;
  left: 30px;
  top: 30px;
  border: 2px solid #717171;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 5px 0px rgba(119, 119, 119, 0.5);
  background-color: #fff;
  button{
    color: #333333;
    font-size: 2.3rem;
    position: absolute;
    right: 5px;
    top: 0;
    background-color: transparent;
    border: none;
    appearance: none;
    cursor: pointer;
  }
  @media screen and (max-width: 700px) {
    //スマホ
    display: none;
  }
}